# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
# your code here
html = requests.get(url)
html_soup = BeautifulSoup(html.content,"html.parser")
#print(html_soup.prettify())

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
# your code here
#names = html_soup.find_all('p', attrs = {'class' : 'f4 text-normal mb-1'})
trending_developers = html_soup.find_all(class_="col-md-6") #,"f4 text-normal mb-1"])#"h3 lh-condensed")

#trending_developers[0].get_text()
trend_dev = [((i.get_text()).replace("\n","")).strip() for i in trending_developers if trending_developers.index(i) % 2 == 0]
#trend_dev = [i.replace("(\s)\1+", " (") for i in trend_dev]
trend_dev
#trend_dev_names = html_soup.find_all(class_="f4 text-normal mb-1")
#lst_trend_names = [("("+((i.get_text()).replace("\n","")).strip()+")") for i in trend_dev_names]
#len(lst_trend_names)
#lst_trend_dev = [((i.get_text()).replace("\n","")).strip() for i in trending_developers]
#len(lst_trend_dev)
#trend_dev = [lst_trend_dev[i] + " " + lst_trend_names[i] for i in range(len(trending_developers))]

['Mitchell Hashimoto               mitchellh',
 'Javier Suárez               jsuarezruiz',
 'Alex Goodman               wagoodman',
 'Jason Miller               developit',
 'Francois Zaninotto               fzaninotto',
 'Megan Marsh               SwampDragons',
 'James Agnew               jamesagnew',
 'Stefan Prodan               stefanprodan',
 'Sebastián Ramírez               tiangolo',
 'David Catuhe               deltakosh',
 'Chris Banes               chrisbanes',
 'Benjamin Eberlei               beberlei',
 'Barry vd. Heuvel               barryvdh',
 'Mladen Macanović               stsrki',
 'Dotan Simha               dotansimha',
 'Mek               mekarpeles',
 'Alex Casalboni               alexcasalboni',
 'Frederic Branczyk               brancz',
 'Lipis               lipis',
 'Carlos Cuesta               carloscuesta',
 'Jirka Borovec               Borda',
 'Kyle Mathews               KyleAMathews',
 'Fernando Daciuk               fdaciuk',
 'Simon Baslé               simonbasle',
 'Phil Pluckthun               kitten']

In [5]:

rowstabulated = [row.strip().split("               ") for row in trend_dev]

rowstabulated

[['Mitchell Hashimoto', 'mitchellh'],
 ['Javier Suárez', 'jsuarezruiz'],
 ['Alex Goodman', 'wagoodman'],
 ['Jason Miller', 'developit'],
 ['Francois Zaninotto', 'fzaninotto'],
 ['Megan Marsh', 'SwampDragons'],
 ['James Agnew', 'jamesagnew'],
 ['Stefan Prodan', 'stefanprodan'],
 ['Sebastián Ramírez', 'tiangolo'],
 ['David Catuhe', 'deltakosh'],
 ['Chris Banes', 'chrisbanes'],
 ['Benjamin Eberlei', 'beberlei'],
 ['Barry vd. Heuvel', 'barryvdh'],
 ['Mladen Macanović', 'stsrki'],
 ['Dotan Simha', 'dotansimha'],
 ['Mek', 'mekarpeles'],
 ['Alex Casalboni', 'alexcasalboni'],
 ['Frederic Branczyk', 'brancz'],
 ['Lipis', 'lipis'],
 ['Carlos Cuesta', 'carloscuesta'],
 ['Jirka Borovec', 'Borda'],
 ['Kyle Mathews', 'KyleAMathews'],
 ['Fernando Daciuk', 'fdaciuk'],
 ['Simon Baslé', 'simonbasle'],
 ['Phil Pluckthun', 'kitten']]

In [6]:
#colnames = []
data = rowstabulated
df = pd.DataFrame(data)
df = df.values.tolist()
df

[['Mitchell Hashimoto', 'mitchellh'],
 ['Javier Suárez', 'jsuarezruiz'],
 ['Alex Goodman', 'wagoodman'],
 ['Jason Miller', 'developit'],
 ['Francois Zaninotto', 'fzaninotto'],
 ['Megan Marsh', 'SwampDragons'],
 ['James Agnew', 'jamesagnew'],
 ['Stefan Prodan', 'stefanprodan'],
 ['Sebastián Ramírez', 'tiangolo'],
 ['David Catuhe', 'deltakosh'],
 ['Chris Banes', 'chrisbanes'],
 ['Benjamin Eberlei', 'beberlei'],
 ['Barry vd. Heuvel', 'barryvdh'],
 ['Mladen Macanović', 'stsrki'],
 ['Dotan Simha', 'dotansimha'],
 ['Mek', 'mekarpeles'],
 ['Alex Casalboni', 'alexcasalboni'],
 ['Frederic Branczyk', 'brancz'],
 ['Lipis', 'lipis'],
 ['Carlos Cuesta', 'carloscuesta'],
 ['Jirka Borovec', 'Borda'],
 ['Kyle Mathews', 'KyleAMathews'],
 ['Fernando Daciuk', 'fdaciuk'],
 ['Simon Baslé', 'simonbasle'],
 ['Phil Pluckthun', 'kitten']]

In [7]:
lst_trend_dev = [(i[0]+ " (" + i[1] + ")") if i[1] != None else i[0] for i in df]
lst_trend_dev

['Mitchell Hashimoto (mitchellh)',
 'Javier Suárez (jsuarezruiz)',
 'Alex Goodman (wagoodman)',
 'Jason Miller (developit)',
 'Francois Zaninotto (fzaninotto)',
 'Megan Marsh (SwampDragons)',
 'James Agnew (jamesagnew)',
 'Stefan Prodan (stefanprodan)',
 'Sebastián Ramírez (tiangolo)',
 'David Catuhe (deltakosh)',
 'Chris Banes (chrisbanes)',
 'Benjamin Eberlei (beberlei)',
 'Barry vd. Heuvel (barryvdh)',
 'Mladen Macanović (stsrki)',
 'Dotan Simha (dotansimha)',
 'Mek (mekarpeles)',
 'Alex Casalboni (alexcasalboni)',
 'Frederic Branczyk (brancz)',
 'Lipis (lipis)',
 'Carlos Cuesta (carloscuesta)',
 'Jirka Borovec (Borda)',
 'Kyle Mathews (KyleAMathews)',
 'Fernando Daciuk (fdaciuk)',
 'Simon Baslé (simonbasle)',
 'Phil Pluckthun (kitten)']

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [8]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [9]:
# your code here
html = requests.get(url)
html_soup = BeautifulSoup(html.content, "html.parser")
#print(html_soup.prettify())

In [10]:
trending_python_repositories = html_soup.find_all(class_="h3 lh-condensed")

trend_py_rep = [(((i.get_text()).replace("\n","")).strip()).replace(" ", "") for i in trending_python_repositories]
trend_py_rep = [i.replace("/"," (")+")" for i in trend_py_rep]
trend_py_rep

['adamian98 (pulse)',
 'techtanic (Udemy-Course-Grabber)',
 'lightly-ai (lightly)',
 'home-assistant (core)',
 'geekcomputers (Python)',
 'tensorflow (models)',
 'ytisf (theZoo)',
 'Devashi-Choudhary (Invisible-Cloak-or-Adrishya-Choga)',
 'baowenbo (DAIN)',
 'arknave (advent-of-code-2020)',
 'apache (airflow)',
 'RasaHQ (rasa)',
 'plotly (dash)',
 'r0ysue (r0capture)',
 'readthedocs (readthedocs.org)',
 'horovod (horovod)',
 'microsoft (playwright-python)',
 'KasperskyLab (TinyCheck)',
 'StackStorm (st2)',
 'blacklanternsecurity (writehat)',
 'ultralytics (yolov5)',
 'Netflix (vmaf)',
 'Project-MONAI (MONAI)',
 'linuxmint (hypnotix)',
 'microsoft (dowhy)']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [11]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [12]:
# your code here
wiki = requests.get(url)
wiki_soup = BeautifulSoup(wiki.content, "html.parser")
wiki_first_img_tag = wiki_soup.find_all(style="text-align:center")
wiki_first_img_tag = wiki_first_img_tag[0].get_text()
wiki_img_tags = wiki_soup.find_all(class_="thumbcaption")
wiki_image_tags = [i.get_text() for i in wiki_img_tags]
wiki_image_tags[0] = wiki_image_tags[0].replace("c.\u20091921", "(1921)")
wiki_image_tags.insert(0, wiki_first_img_tag)
wiki_image_tags

['Disney in 1946',
 "Walt Disney's business envelope featured a self-portrait (1921)",
 'Newman Laugh-O-Gram (1921)',
 'Theatrical poster for Trolley Troubles (1927)',
 'Disney with Mickey Mouse',
 'The first appearance of Mickey Mouse, in Steamboat Willie (1928)',
 'Disney in 1935',
 'Walt Disney introduces each of the seven dwarfs in a scene from the original 1937 Snow White theatrical trailer.',
 'Disney drawing Goofy for a group of girls in Argentina, 1941',
 'Disney family at Schiphol Airport (1951)',
 'Disney shows the plans of Disneyland to officials from Orange County in December 1954',
 'Disney in 1954',
 'Grave of Walt Disney at Forest Lawn, Glendale',
 'Roy O. Disney finished the building of Walt Disney World',
 'Display case in the lobby of The Walt Disney Family Museum showing many of the Academy Awards won by Disney',
 '1968 U.S. postage stamp']

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [13]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [14]:
# your code here
wiki2 = requests.get(url)
wiki2_soup = BeautifulSoup(wiki2.content,"html.parser")
#print(wiki2_soup.prettify())
wiki2_lang_num = wiki2_soup.find(class_="central-featured")
wiki2_lang_num = (wiki2_lang_num.get_text()).split("\n")
wiki2_lang_num = [i.replace("\xa0", " ") for i in wiki2_lang_num if i!=""]

wiki2_lang_num = [(wiki2_lang_num[i]+" ("+wiki2_lang_num[i+1]+")")  for i in range(len(wiki2_lang_num)) if i%2==0]
wiki2_lang_num

['English (6 199 000+ articles)',
 'Español (1 643 000+ artículos)',
 '日本語 (1 240 000+ 記事)',
 'Deutsch (2 505 000+ Artikel)',
 'Русский (1 680 000+ статей)',
 'Français (2 273 000+ articles)',
 'Italiano (1 655 000+ voci)',
 '中文 (1 160 000+ 條目)',
 'Português (1 048 000+ artigos)',
 'Polski (1 441 000+ haseł)']

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [15]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [16]:
# your code here
wiki_lang = requests.get(url)
wiki_languages_soup = BeautifulSoup(wiki_lang.content, "html.parser")
wiki_languages = wiki_languages_soup.find_all("table",class_="wikitable sortable")[0]
wiki_languages_rows = wiki_languages.find_all('tr')
wiki_languages_rowstabulated = [i.text.strip().split("\n") for i in wiki_languages_rows]
wiki_languages_columns = wiki_languages_rowstabulated[0:1]
wiki_languages_rowsrows = wiki_languages_rowstabulated[1:]
wiki_languages_columns = [j for i in wiki_languages_columns for j in i if i!=""]
df_wiki_languages = pd.DataFrame(wiki_languages_rowsrows, columns= wiki_languages_columns)
df_wiki_languages

,Rank,,Language,,Speakers(millions),,Percentageof world pop.(March 2019)[8],,Language family,,Branch
0,1,,Mandarin Chinese,,918,,11.922%,,Sino-Tibetan,,Sinitic
1,2,,Spanish,,480,,5.994%,,Indo-European,,Romance
2,3,,English,,379,,4.922%,,Indo-European,,Germanic
3,4,,Portuguese,,346,,4.450%,,Indo-European,,Romance
4,5,,Hindi (sanskritised Hindustani)[9],,341,,4.429%,,Indo-European,,Indo-Aryan
...,...,...,...,...,...,...,...,...,...,...,...
86,87,,Czech,,10.7,,0.139%,,Indo-European,,Balto-Slavic
87,88,,Taʽizzi-Adeni Arabic,,10.5,,0.136%,,Afroasiatic,,Semitic
88,89,,Uyghur,,10.4,,0.135%,,Turkic,,Karluk
89,90,,Min Dong Chinese,,10.3,,0.134%,,Sino-Tibetan,,Sinitic
90,91,,Sylheti,,10.3,,0.134%,,Indo-European,,Indo-Aryan

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [17]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [18]:
# your code here
imdb = requests.get(url)
imdb_soup = BeautifulSoup(imdb.content, "html.parser")
imdb_250 = imdb_soup.find_all("tr")
imdb_250_rows = [i.get_text() for i in imdb_250[1:]]
imdb_250_rows = [i.strip().split("\n") for i in imdb_250_rows]
imdb_250_rows_df = pd.DataFrame(imdb_250_rows)
imdb_250_rows_df = (imdb_250_rows_df.drop(imdb_250_rows_df.columns[6:19], axis = 1)).drop([0,3,4], axis = 1)
imdb_250_rows_df.columns = ["Title","Date release","Rating"]
imdb_250_directors = [i['title'].split(" (") for i in imdb_soup.find_all('a', title=True)]
imdb_250_directors = [i[0] for i in imdb_250_directors]
imdb_250_directors = imdb_250_directors[:-5]
imdb_250_rows_df.insert(loc=2, column="Director", value=imdb_250_directors)
imdb_250_rows_df

                              Title Date release              Director Rating
0          The Shawshank Redemption       (1994)        Frank Darabont    9.2
1                     The Godfather       (1972)  Francis Ford Coppola    9.1
2            The Godfather: Part II       (1974)  Francis Ford Coppola    9.0
3                   The Dark Knight       (2008)     Christopher Nolan    9.0
4                      12 Angry Men       (1957)          Sidney Lumet    8.9
..                              ...          ...                   ...    ...
245           The Battle of Algiers       (1966)      Gillo Pontecorvo    8.0
246                      The Circus       (1928)       Charles Chaplin    8.0
247                      Tangerines       (2013)        Zaza Urushadze    8.0
248                  The Terminator       (1984)         James Cameron    8.0
249                  A Silent Voice       (2016)          Naoko Yamada    8.0

[250 rows x 4 columns]

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [19]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'

In [20]:
# your code here
imdb_random = requests.get(url)
imdb_random_soup = BeautifulSoup(imdb_random.content,"html.parser")
imdb_random_top10 = imdb_random_soup.find_all("h3", class_="lister-item-header")
imdb_random_top10 = [i.get_text().split("\n") for i in imdb_random_top10[0:10]]
imdb_random_top10_df = pd.DataFrame(imdb_random_top10)
imdb_random_brief = imdb_random_soup.find_all("p", class_="")
imdb_random_brief = [((i.get_text()).replace("\n","").strip()) for i in imdb_random_brief[0:10]]
#imdb_random_top10_df = pd.DataFrame(imdb_random_top10, )
imdb_random_top10_df = (imdb_random_top10_df.drop([0,1,4], axis = 1))
imdb_random_top10_df.columns = ["Title","Date release"]
imdb_random_top10_df.insert(loc=2, column="Brief", value=imdb_random_brief)
imdb_random_top10_df

,Title,Date release,Brief
0,A Nightmare on Elm Street,(1984),The monstrous spirit of a slain child murderer...
1,Awakenings,(1990),The victims of an encephalitis epidemic many y...
2,A League of Their Own,(1992),Two sisters join the first female professional...
3,A Bronx Tale,(1993),A father becomes worried when a local gangster...
4,Angels in the Outfield,(1994),When a boy prays for a chance to have a family...
5,A Time to Kill,(1996),"In Canton, Mississippi, a fearless young lawye..."
6,Amistad,(1997),"In 1839, the revolt of Mende captives aboard a..."
7,Anaconda,(1997),"A ""National Geographic"" film crew is taken hos..."
8,"A Cool, Dry Place",(1998),"Russell, single father balances his work as a ..."
9,American History X,(1998),A former neo-nazi skinhead tries to prevent hi...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [21]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city: nairobi

In [22]:
# your code here
weather = requests.get(url).json()
temp = weather["main"]["temp"]
wind_speed = weather["wind"]["speed"]
description = weather["weather"][0]["description"]
weather_city = weather["weather"][0]["main"]
name = weather["name"]
print("Name: " + str(name)+"\n"
    "Temperature: " + str(temp)+"\n"
    "Wind speed: " + str(wind_speed)+"\n"
    "Description: " + str(description)+"\n"
    "Weather: " + str(weather_city)+"\n")

Name: Nairobi
Temperature: 18.89
Wind speed: 2.24
Description: overcast clouds
Weather: Clouds

#### Find the book name, price and stock availability as a pandas dataframe.

In [23]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [24]:
# your code here
books = requests.get(url)
books_soup = BeautifulSoup(books.content, "html.parser")
books_text = books_soup.find_all(["p"])
books_text = [i.get_text().replace("\n","").strip() for i in books_text]
books_text = [i for i in books_text if i!=""]
books_list = [books_text[i:i+2] for i in range(0,len(books_text),2)]
#chunks = [data[x:x+3] for x in xrange(0, len(data), 3)]
books_df = pd.DataFrame(books_list, columns=["Price", "Stock availability"])
books_title = [i['title'] for i in books_soup.find_all('a', title=True)]
books_df.insert(loc=0, column="Title", value=books_title)
books_df

,Title,Price,Stock availability
0,A Light in the Attic,£51.77,In stock
1,Tipping the Velvet,£53.74,In stock
2,Soumission,£50.10,In stock
3,Sharp Objects,£47.82,In stock
4,Sapiens: A Brief History of Humankind,£54.23,In stock
5,The Requiem Red,£22.65,In stock
6,The Dirty Little Secrets of Getting Your Dream...,£33.34,In stock
7,The Coming Woman: A Novel Based on the Life of...,£17.93,In stock
8,The Boys in the Boat: Nine Americans and Their...,£22.60,In stock
9,The Black Maria,£52.15,In stock
10,"Starving Hearts (Triangular Trade Trilogy, #1)",£13.99,In stock
11,Shakespeare's Sonnets,£20.66,In stock
12,Set Me Free,£17.46,In stock
13,Scott Pilgrim's Precious Little Life (Scott Pi...,£52.29,In stock
14,Rip it Up and Start Again,£35.02,In stock
15,Our Band Could Be Your Life: Scenes from the A...,£57.25,In stock
16,Olio,£23.88,In stock
17,Mesaerion: The Best Science Fiction Stories 18...,£37.59,In stock
18,Libertarianism for Beginners,£51.33,In stock
19,It's Only the Himalayas,£45.17,In stock

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [25]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/50)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls
### It was showing 50 earthquakes per page. I had to change number_of_pages.

['https://www.emsc-csem.org/Earthquake/?view=1',
 'https://www.emsc-csem.org/Earthquake/?view=2']

In [26]:
# your code here
eq_df = pd.DataFrame()
eq_dt = pd.DataFrame()
for i in each_page_urls:
    eq = requests.get(i)
    eq_soup = BeautifulSoup(eq.content ,"html.parser")
    eq_info = eq_soup.find_all("td")
    eq_text = [i.get_text() for i in eq_info[21:]]
    eq_text = [i.replace("\xa0","") for i in eq_text]
    eq_text = [eq_text[i:i+13] for i in range(0,len(eq_text),13)]
    eq_text = eq_text[:-1]
    eq_date_time = [i[12].split(" ") for i in eq_text]
    eq_data = [i[0:12] for i in eq_text]
    eq_df = eq_df.append(eq_data, ignore_index = True)
    eq_dt = eq_dt.append(eq_date_time, ignore_index = True)
eq_df.drop([0,1,2,3,9], axis=1, inplace = True)
eq_df.rename(columns={4:"Lat. coord.",5:"Lat. orient.", 6:"Long. coord.",7:"Long. orient.",8:"Depth(km)",10:"Magnitude", 11: "Region"}, inplace=True)
eq_df["Date"],eq_df["Time"] = [eq_dt[0], eq_dt[1]]
eq_df

,Lat. coord.,Lat. orient.,Long. coord.,Long. orient.,Depth(km),Magnitude,Region,Date,Time
0,2.84,S,127.43,E,22,2.7,"CERAM SEA, INDONESIA",2020-12-04,12:50
1,0.69,N,97.31,E,13,3.2,"NIAS REGION, INDONESIA",2020-12-04,12:45
2,38.93,N,30.01,E,7,2.2,WESTERN TURKEY,2020-12-04,12:42
3,17.94,N,66.84,W,11,2.2,PUERTO RICO REGION,2020-12-04,12:44
4,7.73,S,126.82,E,247,3.7,"KEPULAUAN BARAT DAYA, INDONESIA",2020-12-04,12:35
...,...,...,...,...,...,...,...,...,...
96,1.10,S,124.06,E,26,3.8,"KEPULAUAN SULA, INDONESIA",2020-12-04,03:25
97,36.75,N,121.40,W,5,3.0,CENTRAL CALIFORNIA,2020-12-04,03:48
98,19.19,N,155.43,W,33,2.2,"ISLAND OF HAWAII, HAWAII",2020-12-04,02:57
99,17.99,N,72.16,W,15,2.8,HAITI REGION,2020-12-04,03:36
100,19.39,N,155.28,W,1,2.0,"ISLAND OF HAWAII, HAWAII",2020-12-04,02:49